body{
    font-family: 'Josefin Sans', sans-serif;
}
section{
    display: flex;
    margin-left:50px;
    padding-left:30px;
}
h1{
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 0%;
    margin-bottom: 0%;
    padding-top:0px;
}
.half-width{
  width: 50%;
}
.half-width img{
    width: 100%;
}
#color{
    color:orange;
}
.top-left{
    padding-top: 50px;
}
.top-right-image{
margin-left:290px;
}
.order-button{
    text-decoration: none;
    padding:17px 20px;
    background-image:linear-gradient(to right, tomato, orange);
    color:honeydew;
    border-radius: 40px;
    font-weight:500;
    text-shadow: black;
    margin-top:30px;
    display:inline-block;

}
#my-pic{
    width:258%;
    margin-top:47%;
    margin-left: 45%;
}
.about{
    margin-left:350px;
    margin-right:20%;
    padding-top:100px;
    padding-left:100px;
    padding-right:70px;
}
#align{
    text-align:center;
}
.about-section{
    background-image: url(../images/shapes/Frame\ 58.jpg);
    width: 100%;
    margin-left:10px;
    margin-right:100px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}